.input {
    height: fit-content;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    outline: none;
    border-bottom-width: 2px;
    border-bottom-color: #3b82f6;
    animation: fadeIn 0.2s ease-in forwards;
}

.input:focus-visible {
    border-bottom-width: 4px;
}

.input-invalid {
    background-color: #ffdddd;
    border-bottom-color: #ef4444;
}
.input-valid{
    background-color: rgb(var(--blue-50));
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}